div#contenedor02{
    background-image: url("imagenes/Captura%20de%20Pantalla%202021-10-21%20a%20la(s)%2010.22.22%20a.%20m..png");
}

div#contenedor03{
    background-image: url("imagenes/Captura%20de%20Pantalla%202021-10-21%20a%20la(s)%2010.22.27%20a.%20m..png");
}

div.videos{    
    width: 90%;
    display: block; 
}

div.contenedorDevideo{
     width: 505px;
        display: inline-block;
    vertical-align: text-top;
}

p.tituloVideo{
        font-size: 22px;
    
}